// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list: inline;
  list-style: none;
  display: inline;
}

#letters {
  display: flex;
  justify: center;

}
